<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:body>

    <ui:composition template="template.xhtml">
        <ui:define name="title">List of cinemas</ui:define>
        <ui:define name="content">
            <h:dataTable var="cinema" value="#{mooviBean.allCinemas}">
                <h:column>
                    <f:facet name="header">#{msg['label.logo']}</f:facet>
                    <h:graphicImage value="#{cinema.logo}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg['label.name']}</f:facet>
                    #{cinema.name}
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg['label.movies']}</f:facet>
                    <h:link value="show" outcome="movies">
                        <f:param name="cinema" value="#{cinema.id}"/>
                    </h:link>
                </h:column>
            </h:dataTable>
        </ui:define>
    </ui:composition>

</h:body>


</html>
