<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:body>

    <ui:composition template="template.xhtml">
        <ui:define name="title">List of movies</ui:define>
        <ui:define name="content">
            <h:dataTable var="movie" value="#{mooviBean.movies}">
                <h:column>
                    <f:facet name="header">Poster</f:facet>
                    <h:graphicImage value="#{movie.poster}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Title</f:facet>
                    #{movie.title}
                </h:column>
                <h:column>
                    <f:facet name="header">Rating</f:facet>
                    #{movie.rating}
                </h:column>
                <h:column>
                    <f:facet name="header">Director</f:facet>
                    #{movie.director.lastName}
                </h:column>
            </h:dataTable>
        </ui:define>
    </ui:composition>

</h:body>


</html>
